@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #414141;
  background-color: aliceblue;

}


.main{
  width: 100%;
}
.wrapper{
  width: 93%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}
.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 30px;
  border: 1px solid rgb(91, 89, 89);
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-container img{
  width: 60%;
  height: 60%;
}

.details-container p{
  font-size: 1.3rem;
  font-weight: 500;
  color:black;
  margin-top: 10px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.details-container button{
  font-size: 1.2rem;
  font-weight: 500;
  color:black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

/* 
.details-container .coffee img{
  height: 250px;
} */