@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #414141;
  /* background: #E8C0B4; */
  /* background-color: aliceblue; */

}

* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.main {
  width: 100%;
  /* min-height: 100vh; 
  background-size: 100% 100%; 
  background-position: top center; 
  background-image: url("../public/img/Back_to_School_Objects_edited.jpg");
  background-repeat: no-repeat; 
  background-attachment: fixed;  */
}

.wrapper{
  /* height: 100vh; */
  width: 93%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 50px;
  /* background: blue; */
}
.details-container{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 30px;
  border: 1px solid rgb(91, 89, 89);
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
}

.details-container img{
  width: 65%;
  height: 65%;
}

.details-container p{
  font-size: 1.3rem;
  font-weight: 500;
  color:black;
  margin-top: 10px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.details-container button{
  font-size: 1.2rem;
  font-weight: 500;
  color:black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(144, 13, 232);
  transform-origin: 0%;
}

.intro-video-container {
  width: 100vw;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0f13e65b, #604fd2); /* Gradient from dark gray to black */
  background-size: cover;
}

.intro-video-container video{
  /* height: fit-content; */
  /* transform: scale(1); */
}


@media(max-width:1490px){
  .intro-video-container video{
    /* height: fit-content; */
    width: 100vw;
    height: auto;
    transform: scale(.99);
  }
}
@media (max-width:900px) {
  .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 30px;
    border: 1px solid rgb(91, 89, 89);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .details-container button{
    font-size: 1rem;
    font-weight: 500;
    color:black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
}
.App {
  text-align: center;
}

.intro-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width:700px) {
  .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    border: 1px solid rgb(91, 89, 89);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .details-container button{
    font-size: 1rem;
    font-weight: 500;
    color:black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
}

@media (max-width:550px) {
  .details-container button{
    font-size: .8rem;
    font-weight: 500;
    color:black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  .details-container img{
    width: 90%;
    height: 90%;
  }
  
  .intro-video-container video{
    /* width: 300px; */
    /* height: 300px; */
    /* object-fit: cover; */
  }
}
@media (max-width:500px) {
  /* *{
    overflow-y: hidden;
  } */
  .details-container button{
    font-size: .8rem;
    font-weight: 500;
    color:black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  .details-container img{
    width: 90%;
    height: 90%;
  }
  .intro-video-container {
    overflow-y: hidden;
  }
  .intro-video-container video{
    /* width: 300px; */
    /* height: 300px; */
    /* object-fit: cover; */
    width: 100vw;
    height: 100vh;
    transform: scale(1);
    overflow-y: hidden;
  }
}